# `Data Transformation`

In [18]:
import numpy as np
import pandas as pd
d=pd.DataFrame({"Name":["Abhi","Shruu","Priiii","Aishii","Ullekha","Kaavi"],
                "Education":["SSLC","LKG","PUC","Diploma","LKG","SSLC"]})

## Binary Encoding

In [8]:
e_data=pd.get_dummies(d.Education)
e_data

   Diploma  LKG  PUC  SSLC
0        0    0    0     1
1        0    1    0     0
2        0    0    1     0
3        1    0    0     0
4        0    1    0     0
5        0    0    0     1

## Rank Transformation

In [12]:
e_map={'LKG':1,'SSLC':2,'PUC':3,'Diploma':4}
e_data = d['Education'].map(e_map)
d['Education'] = e_data
d

      Name  Education
0     Abhi        NaN
1    Shruu        NaN
2   Priiii        NaN
3   Aishii        NaN
4  Ullekha        NaN
5    Kaavi        NaN